/*Page Hacks for better CSS*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*-----Page Begins----*/


body {
  padding:2%;
  font-family: 'Pompiere', cursive;

}

header {
  margin: auto;
  text-align: center;
}

li {
  padding: 5px;
  display: inline;
  margin-left: 2%;
  margin-right: 2%;
}

aside {
  margin: 0;
  width: 20%;
  float: left;
  padding: 5px;
}

section {
  margin: 0;
  width: 60%;
  float: left;
  padding:5px;
}

footer {
  clear: both;
  margin: 0;
}
