/*Page Hacks for better CSS*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*-----Page Begins----*/


body {
  padding:2%;
  font-family: 'Poiret One', cursive;
  background-color: 211,211,211;

}

header {
  background-image: url('https://adventuresinverdance.files.wordpress.com/2015/04/domocity-718793.jpg');
  background-size: cover;
  background-position: 50% 40%;
  height:300px;
  margin: auto;
  box-shadow: 15px -5px -5px 2px 6px #D3D3D3;

}

header h1 {
  font-family: 'Poiret One', cursive;
  padding-left: 40px;
  padding-top: 80px;
}

p {
  font-weight: bolder;
}

li {
  padding: 5px;
  display: inline;
  margin-left: 2%;
  margin-right: 2%;
}

aside {
  margin: 50px 0px 0px 0px;
  width: 20%;
  float: left;
  padding: 10px 5px 5px 5px;
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 10px;
}

section {
  margin:0;
  text-align: center;
  width: 60%;
  float: left;
  padding:10px;

  border-radius: 10px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(58, 59, 59, 0.2);
  text-align: center;


}
